<div id="js-product-attachments-section-wrapper">
    <div class="js-product-attachments-section"></div>
</div>

<script>
    (function ($) {
        var sources = [
            {
                id: "syrattach-shop-plugin-js",
                type: "js",
                uri: "{$wa_app_static_url}plugins/syrattach/js/prod_syrattach.{if !$wa->debug()}min.{/if}js?v={$plugin_version}"
            },
            {
                id: "syrattach-shop-plugin-css",
                type: "css",
                uri: "{$wa_app_static_url}plugins/syrattach/css/syrattach-prod.css?v={$plugin_version}"
            }
        ];

        $.wa.loadSources(sources).then(function () {
            $.wa_shop_products.init.initProductAttachmentsSection({
                '$wrapper': $("#js-product-attachments-section-wrapper"),
                files: {$attachments|json_encode:256},
                l10n: {$l10n|json_encode:256},
                max_upload_size: {$max_upload_size|intval},
                product_id: {$product.id|intval}
            });
        });
    })(jQuery);
</script>
