<div class="s-syrattach-settings-template s-syrattach-settings-original-template">
    <p>Код шаблона по умолчанию <a href="javascript:void(0)" class="inline-link s-syrattach-template-switcher"
                                   data-template="original"><b><i>показать</i></b></a></p>
    <div class="s-syrattach-settings-original-template__content" style="display: none">
        <pre>{$original_template|escape}
        </pre>
    </div>
</div>
{$modified_template = $original_template}
{if $modified_template}
    <div class="s-syrattach-settings-template s-syrattach-settings-modified-template">
        <p>Код шаблона, сохранённого вами в прошлой версии плагина
            <a href="javascript:void(0)" class="inline-link s-syrattach-template-switcher"
               data-template="modified"><b><i>показать</i></b></a>.
            Сейчас этот код используется вместо шаблона по-умолчанию. Перенесите этот код в шаблон темы дизайна и <a
                    href="javascript:void(0)" class="inline-link"><b><i>удалите его отсюда</i></b></a>.
        </p>
        <div class="s-syrattach-settings-modified-template__content" style="display: none">
        <pre>{$modified_template|escape}
        </pre>
        </div>
    </div>
{/if}
<div class="s-syrattach-settings-template__help">
    <p>{_wp('JFYI. Variables available within the template:')}</p>
    <code ><b>$attachments</b></code> — {_wp('A list of file data. Each file item is an array with keys:')}
    <ul>
        <li><code>id</code> — {_wp('Attachment ID#')}</li>
        <li><code>name</code> — {_wp('File name')}</li>
        <li><code>ext</code> — {_wp('File extension')}</li>
        <li><code>description</code> — {_wp('File description')}</li>
        <li><code>size</code> — {_wp('File size in bytes')}</li>
        <li><code>url</code> — {_wp('File URL')}</li>
    </ul>
</div>
<script>{literal}
    (function ($) {
        $('a.s-syrattach-template-switcher')
            .off('.syrnik')
            .on('click.syrnik', function (evt) {
                evt.preventDefault();
                const template_type = $(this).data('template');
                console.log(`s-syrattach-settings-${template_type}-template__content`);
                const template = $(`.s-syrattach-settings-${template_type}-template__content`);
                if (template.is(':visible')) template.slideUp();
                else template.slideDown();
                return false;
            })
    })(jQuery)
{/literal}</script>
<style>
    .s-syrattach-settings-modified-template__content > pre,
    .s-syrattach-settings-original-template__content > pre {
        background-color: #333;
        color: lightgreen;
        padding: 1rem;
    }

    .s-syrattach-settings-template__help li {
        list-style-type: none;
    }

    .s-syrattach-settings-template__help code {
        padding: 2px 4px;
        font-size: 90%;
        background-color: #f9f2f4;
        color: #c7254e
    }
    .s-syrattach-settings-template__help li code {
        display: inline-block;
        width: 6em;
    }
</style>
